.reqTcardShadowReq  {
    box-shadow: -9px 9px 8px #525050;
    width:45% ;
}
.reqTcardShadowReq:hover  {
    box-shadow: -9px 0px 8px #F28C28  , 0px 12px 8px #0f50c0;
    width:45% ;
}

.reqTAnalysisImg{
    height: 648px;
    width: 792px;
}

.ReqTcontectDiv{
    width: 60%;
}
.ReqTtextContent{
    padding: 11px;
    margin: 20px;
    font-size: 31px;
}

/* .fullScreen{
    @media(min-width:1920) {
        justify-content:flex-start;
    }
} */