.container{
    
    height: 734px;
    padding-top: 4px;
    max-width: 1920px;
}
.forgotForm{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 500px;
    width: 600px;
    margin-left: 626px;
    margin-top: 124px;
     background-color: orange; 
    border-radius: 10px;
    box-shadow: -9px 12px 8px  #4d4d4e; 
    */

    

    height: 542px;
    width: 859px;
    margin-left: 525px;
    margin-top: 98px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: -9px 12px 8px #4d4d4e;
}

.formFields{
    width: 282px;
    height: 500px;
    margin-top: 108px;
    margin-left: 3px;
}



.passwordForm{
    width: 279px;
    height: 500px;
    margin-top: 48px;
    margin-left: 114px;
}

.forgotLogo{
    position: absolute;
    top: 335px;
    right: 378px;
}